.section-title {
    font-size: 3vw;
    font-weight: bold;
    color: rgb(48, 48, 48);
}

.project-card {
    color: white;
    background-color: rgb(48, 48, 48);
    border-radius: 10px;
}

.card-img-top {
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
}

.project-name {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

.project-desc {
    display: flex;
    justify-content: center;
    text-align: justify;
    color: white;
    font-size: 14px;
}

/* SlideUp Animation */
.liquid-box {
    position: relative;
    opacity: 0.6;
    transform: scale(1.03, 1.03);
    cursor: pointer;
    overflow: hidden;
}

.liquid-box:hover {
    position: relative;
    opacity: 0.6;
    transform: scale(1.03, 1.03);
    cursor: pointer;
    overflow: hidden;
    background: var(--framework-background);
}

@keyframes slideup {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

.display-none {
    display: none;
}

@media only screen and (max-width: 768px) {
    .section-title {
        font-size: 22px;
    }

    .project-desc {
        font-size: 12px;
    }

    .display-none {
        display: block;
        visibility: visible;
    }
}