.skill-container {
    padding: 0 1.5rem;
}

.skill-title {
    font-size: 3vw;
    font-weight: bold;
    color: rgb(220, 220, 220);
}

.fade-in-hover {
    color: rgb(220, 220, 220);
    background-color: rgba(23,37,64, 1);
}

.margin-auto {
    display: flex;
    margin: auto;
}

.skill-icon {
    width: 6vw;
    margin: 2vw;
}

.skill-type {
    font-size: 2vw;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.skill-seperator {
    border: 1.2px solid rgb(220, 220, 220);
    border-radius: 5px;
}

@media only screen and (max-width: 768px) {
    .skill-title {
        font-size: 22px;
    }
}