.social-container {
    font-size: 2vw;
    cursor: pointer;
}

.logoClassBlack {
    color: black;
}

.logoClassBlack:hover {
    color: var(--hover-color);
}

.logoClassWhite {
    color: white;
}

.logoClassWhite:hover {
    color: var(--hover-color);
}

.icon-margin {
    margin-right: 1.2vw;
    margin-left: 1.2vw;
}

.social-container-footer {
    display: flex;
    margin: auto;
    font-size: 20px;
}

@media only screen and (max-width: 768px) {
    .icon-margin {
        margin-right: 20px,;
    }
}