.about-container {
    width: 100%;
    background-color: rgb(48, 48, 48);
}

.about-me-pic {
    display: flex;
    object-fit: contain;
}

.about-me-heading {
    font-size: 3vw;
    font-weight: bold;
    color: white;
}

.about-me-description {
    color: white;
    text-align: justify;
}

.btn-size {
    font-size: 16px;
}

.css-remove {
    color: white;
    text-decoration: none;
}

.css-remove:hover {
    color: black;
}

@media only screen and (max-width: 768px) {
    .about-me-heading {
        font-size: 22px;
    }

    .about-me-description {
        font-size: 14px;
    }

    .btn-size {
        font-size: 12px;
    }
}